@charset "utf-8";
* {
	margin: 0;
	padding: 0;
	outline: none;
}

body {
	font-size: 14px;
	font-family: "微软雅黑";
	line-height: 1.6;
	color: #333;
}

ul,li {
	list-style: none;
}

a {
	text-decoration: none;
}

.out {
	width: 500px;
	border: 1px solid #999;
	padding: 20px;
	margin: 50px auto;
}

.out .row {
	border-bottom: 1px dashed #CCCCCC;
}
.out .btn {
	cursor: pointer;
	display: inline-block;
}

.out .btn i {
	display: inline-block;
	width: 20px;
	height: 20px;
	border: 1px solid red;
	background: #DDDDDD;
	margin-right: 6px;
	vertical-align: middle;
}

.out .btn.on i {
	background: red;
}

.out .btn b {
	vertical-align: middle;
}
